{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Auth Pages | Create Account | Sign In | UBold - Responsive Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <!-- App css -->
    <link href="{% static 'assets/css/config/modern/bootstrap.min.css' %}" rel="stylesheet" type="text/css"
          id="bs-default-stylesheet"/>
    <link href="{% static 'assets/css/config/modern/app.min.css' %}" rel="stylesheet" type="text/css"
          id="app-default-stylesheet"/>

    <link href="{% static 'assets/css/config/modern/bootstrap-dark.min.css' %}" rel="stylesheet" type="text/css"
          id="bs-dark-stylesheet"/>
    <link href="{% static 'assets/css/config/modern/app-dark.min.css' %}" rel="stylesheet" type="text/css"
          id="app-dark-stylesheet"/>

    <!-- icons -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css"/>

</head>

<body class="loading auth-fluid-pages pb-0">

<div class="auth-fluid">
    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <!-- Logo -->
                <div class="auth-brand text-center text-lg-start">
                    <div class="auth-logo">
                        <a href="index.html" class="logo logo-dark text-center">
                                    <span class="logo-lg">
                                        <img src="../assets/images/logo-dark.png" alt="" height="22">
                                    </span>
                        </a>

                        <a href="index.html" class="logo logo-light text-center">
                                    <span class="logo-lg">
                                        <img src="../assets/images/logo-light.png" alt="" height="22">
                                    </span>
                        </a>
                    </div>
                </div>

                <ul class="nav nav-tabs nav-bordered">
                    <li class="nav-item">
                        <a href="#tab-login" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                            Log In
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#tab-signup" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                            Sign Up
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="tab-login">
                        <p class="text-muted mb-3">Enter your email address and password to access account.</p>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <!-- form -->
                        <form method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label for="emailaddress" class="form-label">{% trans 'Telefon raqamingiz' %}</label>
                                <input class="form-control" type="text" id="emailaddress" required=""
                                       placeholder="Enter your email" name="login">
                            </div>
                            <div class="mb-3">
                                <a href="{% url 'account_reset_password' %}"
                                   class="text-muted float-end"><small>{% trans 'Parolni unutdingizmi?' %}</small></a>
                                <label for="password" class="form-label">{% trans "Maxfiy so'z" %}</label>
                                <input class="form-control" type="password" name="password" required="" id="password"
                                       placeholder="Enter your password">
                            </div>
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <div class="mb-3">
                                <div class="form-check">
                                    <input type="checkbox" name="remember" class="form-check-input"
                                           id="checkbox-signin">
                                    <label class="form-check-label" for="checkbox-signin">{% trans 'Eslab qolish' %}</label>
                                </div>
                            </div>
                            <div class="text-center d-grid">
                                <button class="btn btn-primary" type="submit">Tizimga kirish <i class="mdi mdi-login-variant mdi-16px"></i></button>
                            </div>
                            <!-- social-->

                        </form>
                        <!-- end form-->
                    </div>
                    <div class="tab-pane" id="tab-signup">
                        <p class="text-muted mb-3">Don't have an account? Create your account, it takes less than a
                            minute</p>

                        <!-- form -->
                        <form action="#">
                            <div class="mb-3">
                                <label for="fullname" class="form-label">Full Name</label>
                                <input class="form-control" type="text" id="fullname" placeholder="Enter your name"
                                       required>
                            </div>
                            <div class="mb-3">
                                <label for="emailaddress" class="form-label">Email address</label>
                                <input class="form-control" type="email" id="emailaddress" required
                                       placeholder="Enter your email">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input class="form-control" type="password" required id="password"
                                       placeholder="Enter your password">
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="checkbox-signup">
                                    <label class="form-check-label" for="checkbox-signup">I accept <a
                                            href="javascript: void(0);" class="text-dark">Terms and
                                        Conditions</a></label>
                                </div>
                            </div>
                            <div class="text-center d-grid">
                                <button class="btn btn-primary waves-effect waves-light" type="submit"> Sign Up</button>
                            </div>
                            <!-- social-->
                            <div class="text-center mt-4">
                                <p class="text-muted font-16">Sign up with</p>
                                <ul class="social-list list-inline mt-3 mb-0">
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);"
                                           class="social-list-item border-primary text-primary"><i
                                                class="mdi mdi-facebook"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);"
                                           class="social-list-item border-danger text-danger"><i
                                                class="mdi mdi-google"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);" class="social-list-item border-info text-info"><i
                                                class="mdi mdi-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);"
                                           class="social-list-item border-secondary text-secondary"><i
                                                class="mdi mdi-github"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                        <!-- end form-->
                    </div>
                </div>

                <footer class="footer footer-alt">
                    <p class="text-muted">2015 -
                        <script>document.write(new Date().getFullYear())</script> &copy; UBold theme by <a
                                href="javascript: void(0);" class="text-muted">Coderthemes</a></p>
                </footer>

            </div> <!-- end .card-body -->
        </div> <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <!-- end auth-fluid-form-box-->

    <!-- Auth fluid right content -->
    <div class="auth-fluid-right text-center">
        <div class="auth-user-testimonial">
            <h2 class="mb-3 text-white">I love the color!</h2>
            <p class="lead"><i class="mdi mdi-format-quote-open"></i> I've been using your theme from the previous
                developer for our web app, once I knew new version is out, I immediately bought with no hesitation.
                Great themes, good documentation with lots of customization available and sample app that really fit our
                need. <i class="mdi mdi-format-quote-close"></i>
            </p>
            <h5 class="text-white">
                - Fadlisaad (Ubold Admin User)
            </h5>
        </div> <!-- end auth-user-testimonial-->
    </div>
    <!-- end Auth fluid right content -->
</div>
<!-- end auth-fluid-->

<!-- Vendor js -->
<script src="{% static 'assets/js/vendor.min.js' %}"></script>

<!-- App js -->
<script src="{% static 'assets/js/app.min.js' %}"></script>

</body>
</html>