{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
    <div style="margin: 0 auto !important; width: 400px;  text-align: center ">
    <h1>{% trans "Tizimdan chiqish" %}</h1>

    <p>{% trans 'Siz tizimdan chiqmoqchimisiz? Agarda tizimdan chiqish qilsangiz, kirish uchun login va parolni kiritish talab etiladi. Bu esa sizga biroz qiyinchilik keltirib chiqarishi mumkin. Siz bunga rozimisiz?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-success waves-effect waves-light">
            <span class="btn-label"><i class="mdi mdi-check-all"></i></span>{% trans 'Orqaga qaytish' %}
        </a>
        <button type="submit" class="btn btn-danger waves-effect waves-light">
            {% trans 'Tizimdan chiqish' %}<span class="btn-label-right"><i class="mdi mdi-logout-variant"></i></span>
        </button>

    </form>
</div>

{% endblock %}
