{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="utf-8"/>
    <title>Ro'yhatdan o'tish</title>


    <!-- favicon -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/checknet.css' %}">

    <link rel="stylesheet" href="{% static 'css/signup/style.css' %}">

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>

    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup/responsive.css' %}">


    <style>
        .action-button-previous:hover {
            color: #fff;
        }
    </style>

</head>

<body>
<style>
    #birthday, .birthday_datepicker_icon:hover {
        cursor: pointer;
    }

</style>
<!-- Hero Start -->
<section class="py-3 mt-2 bg-info text-light">
    <div class="container">
        <div class="row text-center justify-content-around align-items-center">
            <div class="col-5" style="">
                <h1>O'zbekiston Respublikasi</h1>
            </div>
            <div class="col-2">
                <img style="width: 90px" src="{% static 'img/login/logo.svg' %}"
                     alt="{% trans 'Управление безопасности дорожного движения!' %}"/>
            </div>
            <div class="col-5">
                <h1>Ichki ishlar Vazirligi YHXB</h1>
            </div>
        </div>
    </div>
</section>
<div class="row ml-2 mr-2">
    <div class="col-12 text-center p-0 mt-3 mb-2">
        <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
            <div class="row">
                <div class="col-md-12 mx-0">
                    <div id="msform">
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active not_copy" id="account"><strong>Account</strong></li>
                            <li class="not_copy" id="personal"><strong>Foydalanuvchi</strong></li>
                            <li class="not_copy" id="payment"><strong>Passport</strong></li>
                        </ul> <!-- fieldsets -->
                        <fieldset id="fieldset1">
                            <div class="row justify-content-center">
                                <div class="col-12 col-xl-6 col-lg-7 col-md-8 col-sm-9">
                                    <div class="form-card">
                                        <h2 class="fs-title not_copy">Account ma'lumotlari</h2>
                                        <label class="not_copy" for="phone">Tel raqam:</label>
                                        <input
                                                type="text" id="phone" class="form-control"
                                                placeholder="{% if phone %}+998{{ phone }}{% else %}{% endif %}"
                                                disabled/>
                                        <br>
                                        <input type="checkbox"
                                               style="float: left; cursor: pointer; margin-right: 5px; margin-top: 5px; width: auto !important;"
                                               id="accept"
                                               name="accept" value="true" required>

                                        <a style="float: left; text-decoration: none; " class="not_copy" id="agree"
                                           href="#">Shartlar bilan
                                            tanishib
                                            chiqdim</a>

                                        <button style="float: right; height: 50%" id="get_code" type="button"
                                                class="btn btn-info">Parolni olish
                                        </button>
                                        <label id="label_confirm" style="width: 100%; display: none" class="not_copy"
                                               for="input_confirm">Parol:</label>
                                        <input id="input_confirm" style="display: none; margin-bottom: 0 !important;"
                                               type="text" name="input_confirm" class="form-control"
                                               placeholder="Parolni kiriting..."/>
                                        <div style="display: none" class="valid-feedback">Muvaffaqiyatli to'ldirildi
                                        </div>
                                        <div style="display: none" class='invalid-feedback'>Parol noto'g'ri
                                        </div>
                                        <br>
                                        <br>

                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'user:login_first' %}"
                               style="text-decoration: none; padding-left: 1.1em !important;padding-right: 1.1em !important;"
                               class="previous action-button-previous">Raqamni almashtirish</a>
                            <button type="button" id="next1" name="next" class="action-button" disabled>
                                Tasdiqlash
                            </button>
                        </fieldset>
                        <fieldset id="fieldset2">
                            <div class="row justify-content-center">
                                <div class="col-12 col-xl-6 col-lg-7 col-md-8 col-sm-9">
                                    <form action="#" id="save_user_form" method="post">
                                        {% csrf_token %}
                                        <div class="form-card">
                                            <h2 class="fs-title not_copy">Foydalanuvchi ma'lumotlari</h2>
                                            <input type="hidden" name="phone">
                                            <div class="row">
                                                <div class="col-12 col-xl-6">
                                                    <label style="width: 100%;" class="not_copy label_required"
                                                           for="last_name">Familiya</label>
                                                    <input type="text" name="last_name" id="last_name"
                                                           class="form-control"
                                                           required
                                                           autocomplete="disabled"
                                                           placeholder="Masalan: Yoqubov"/>
                                                </div>
                                                <div class="col-12 col-xl-6">
                                                    <label style="width: 100%;" class="not_copy label_required"
                                                           for="first_name">Ism</label>
                                                    <input type="text" name="first_name" id="first_name"
                                                           class="form-control"
                                                           required
                                                           autocomplete="disabled"
                                                           placeholder="Masalan: Sirojiddin"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-xl-6">
                                                    <label style="width: 100%;" class="not_copy label_required"
                                                           for="middle_name">Otasining ismi</label>
                                                    <input type="text" name="middle_name" id="middle_name"
                                                           class="form-control"
                                                           required
                                                           autocomplete="disabled"
                                                           placeholder="Masalan: Tojiddinovich"/>
                                                </div>
                                                <div class="col-12 col-xl-6">
                                                    <label style="width: 100%;" class="not_copy label_required"
                                                           for="birthday">Tug'ilgan yil</label>
                                                    <div class="input-group mb-2">
                                                        <input id='birthday' name="birthday"
                                                               type="text"
                                                               class="form-control"/>
                                                        <div class="input-group-prepend birthday_datepicker_icon">
                                                            <div class="input-group-text"><i class="fa fa-calendar"
                                                                                             aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12 col-xl-6 region">
                                                    <label class="label_required not_copy" for="region">Viloyat</label>
                                                    <select name="region" class="form-control select2" id="region"
                                                            required>
                                                        <option value="">--Viloyatni tanlang--</option>
                                                        {% for region in regions %}
                                                            <option value="{{ region.pk }}">{{ region.title }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-12 col-xl-6 district">
                                                    <label class="label_required not_copy"
                                                           for="district">Tuman/Shahar</label>
                                                    <select name="district" class="form-control select2" id="district"
                                                            required>
                                                        <option value="">--Tumanni tanlang--</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-12 col-xl-6 quarter">
                                                    <label class="label_required not_copy" for="quarter">MFY</label>
                                                    <select name="quarter" class="form-control select2" id="quarter"
                                                            required="required">
                                                        <option value="">--MFYni tanlang--</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 col-xl-6">
                                                    <label class="label_required not_copy" for="address">Manzil</label>
                                                    <input type="text" class="form-control" id="address" name="address"
                                                           required autocomplete="disabled"
                                                           placeholder="Masalan: M.Iqbol ko'chasi 76-uy" value=""/>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row justify-content-center">
                                            <input type="button" id="prev2"
                                                   class="previous action-button-previous"
                                                   value="Oldingi"/>
                                            <input type="submit" id="next2" class="action-button"
                                                   value="Keyingi"/>
                                            <input type="button" style="display: none" id="refresh_next2"
                                                   class="action-button"
                                                   value="Keyingi"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset id="fieldset3">
                            <div class="row justify-content-center">
                                <div class="col-12 col-xl-6 col-lg-7 col-md-8 col-sm-9">
                                    <form action="#" id="save_passport_form" method="post">
                                        <div class="form-card">
                                            <h2 class="fs-title">Passport ma'lumotlari</h2>
                                            <div class="row">
                                                <input type="hidden" name="user_id">
                                                <div class="col-12 col-lg-5 col-md-12 col-xl-4 col-sm-12"><label
                                                        class="pay label_required not_copy" for="passport_seriya">Passport
                                                    seriya</label>
                                                    <input type="text" id="passport_seriya" class="form-control"
                                                           name="passport_seriya"
                                                           placeholder="Masalan: AA" autocomplete="off"/>
                                                </div>
                                                <div class="col-12 col-lg-7 col-md-12 col-xl-8 col-sm-12">
                                                    <label for="passport_number"
                                                           class="pay label_required not_copy">Passport raqam</label>
                                                    <input type="number" id="passport_number" class="form-control"
                                                           name="passport_number"
                                                           autocomplete="off" placeholder="Masalan: 3870293"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-lg-12 col-md-12 col-xl-6 col-sm-12">
                                                    <label class="label_required not_copy" for="issue_by_whom">Kim
                                                        tomonidan
                                                        berilgan</label>
                                                    <input type="text"
                                                           id="issue_by_whom" class="form-control" name="issue_by_whom"
                                                           autocomplete="off" placeholder="Masalan: BUXORO SHAHAR IIB"/>
                                                </div>
                                                <div class="col-12 col-lg-12 col-md-12 col-xl-6 col-sm-12">
                                                    <label
                                                            class="label_required not_copy">JShShIR</label>
                                                    <input type="text" style="margin-bottom: 0" name="person_id"
                                                           class="form-control"
                                                           id="person_id"
                                                           placeholder=""/>
                                                    <p style="font-size: small; margin-bottom: 0">Jismoniy shaxsning
                                                        shaxsiy
                                                        identifikatsiya
                                                        raqamini
                                                        kiriting</p>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-12 col-lg-5 col-md-5 col-xl-5 col-sm-5">
                                                    <img class="img-responsive mb-2"
                                                         style="width: 200px; margin: 0 auto" height="auto"
                                                         src="{% static 'img/passport.jpg' %}"
                                                         alt="JShShIR">
                                                </div>
                                            </div>
                                        </div>

                                        <input type="button" name="Previous" class="action-button-previous"
                                               id="prev3" value="Oldingi"/>
                                        <button type="submit" id="next3" style="width: 9rem" class="action-button">
                                            Tizimga kirish
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'js/signup/main.js' %}"></script>
<script src="{% static 'js/signup/responsive.js' %}"></script>
<script src="{% static 'js/signup/sign_up.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{#<script src="{% static 'js/jsPdf/jspdf.js' %}"></script>#}
{#<script src="{% static 'js/jsPdf/modules/html.js' %}"></script>#}
{#<script src="{% static 'js/jsPdf/modules/split_text_to_size.js' %}"></script>#}
{#<script src="{% static 'js/jsPdf/modules/standard_fonts_metrics.js' %}"></script>#}
{#<script src="{% static 'js/html2canvas.min.js' %}"></script>#}
<script src="{% static 'js/signup/bootstrap.min.js' %}"></script>
<script src="{% static 'js/signup/bootstrap-notify.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script src="{% static 'plugins/inputmask/inputmask.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript">
    var dateReg = /^(0?[1-9]|[12][0-9]|3[01])[./-](0?[1-9]|1[012])[./-]\d{4}$/
    $(function () {
        $("#birthday").datepicker({
            dateFormat: "dd.mm.yy",
            // minDate: '-150M',
            // maxDate: '+5M',
            defaultDate: '01.01.1990',
            // value: "7/11/2011",
            showButtonPanel: true,
            numberOfMonths: 1,
            // showOn: '',
            // startDate: "-130M",
            //endDate: "+30d",
            //currentText: 'Today',
            autoclose: true,
            changeMonth: true,
            changeYear: true,
            yearRange: '1950:',

            //yakshanbalarni chiqarish
            // beforeShowDay: function (date) {
            //     var day = date.getDay();
            //     return [(day !== 0), ''];
            // },

            onClose: function () {
                if ($(this).val().match(dateReg)) {
                    $(this).css("border-bottom", "2px solid green")
                } else {
                    $(this).css("border-bottom", "2px solid red")
                }
            }
        })

        $('.birthday_datepicker_icon').on('click', function () {
            $('#birthday').datepicker('show')
        })

        $("#birthday").datepicker('setDate', '01.01.1990');

        $('.select2').select2()
    })
    $(document).ready(function () {
        $('#input_confirm').inputmask('99999');
        $('#person_id').inputmask('99999999999999');

        $('#passport_seriya').inputmask({casing: 'upper'});
        $('#issue_by_whom').inputmask({casing: 'upper'});

        var phoneVal = '{{ phone }}'

        $('#accept').on('change', function () {
            if ($(this).prop('checked')) {
                $('#agree').css('color', 'blue')
                instruction_sweet()
            } else {
                $('#agree').css('color', 'red')
            }
        })

        {#$('#fieldset1').hide()#}
        {#$('#fieldset3').show()#}

        $('#birthday').on('keypress', function () {
            return false
        })

        $('#agree').on('click', function () {
            instruction_sweet()
        })

        $('#region').change(function () {
            var SelectedRegion = $(this).children("option:selected").val()
            $.ajax({
                type: "GET",
                url: "{% url 'user:get_district' %}",
                data: {
                    'region': SelectedRegion, // from form
                },
                success: function (message) {
                    $('#district').empty().append(message)
                    $('#district').css('border', '1px solid blue')
                    setTimeout(function () {
                        $('#district').css('border', '1px solid #ced4da')
                    }, 1000)

                }
            });
        })

        $('#district').change(function () {
            var SelectedDistrict = $(this).children("option:selected").val()
            $.ajax({
                type: "GET",
                url: "{% url 'user:get_quarter' %}",
                data: {
                    'district': SelectedDistrict, // from form
                },
                success: function (message) {
                    $('#quarter').empty().append(message)
                    $('#quarter').css('border', '1px solid blue')
                    setTimeout(function () {
                        $('#quarter').css('border', '1px solid #ced4da')
                    }, 1000)

                }
            });
        })


        $('#get_code').on('click', function () {

            if ($('#accept').prop('checked')) {
                $("#get_code").attr("disabled", true);
                $("#accept").attr("disabled", true);

                let countdowntime = 300;
                let button = document.getElementById('get_code')


                let interval = setInterval(updateCountDown, 1000)

                function updateCountDown() {
                    let minutes = Math.floor(countdowntime / 60)
                    let seconds = countdowntime % 60

                    seconds = seconds < 10 ? '0' + seconds : seconds
                    minutes = minutes < 10 ? '0' + minutes : minutes

                    button.innerHTML = `${minutes}:${seconds} Qayta yuborish`

                    countdowntime--;

                    if (countdowntime < 0) {
                        clearInterval(interval)
                        $("#get_code").attr("disabled", false);
                        $("#accept").attr("disabled", false);
                        button.innerHTML = `Qayta yuborish`

                    }
                }

                $.ajax({
                    type: "GET",
                    url: "{% url 'user:get_code' %}",
                    data: {
                        'phone': phoneVal, // from form
                    },
                    success: function (response) {
                        if (typeof response === 'object') {
                            var password = parseInt(response.password)
                            $('#input_confirm').keyup(function () {
                                var test = $('#input_confirm').val(),
                                    pattern = /^\d{5}$/
                                if (test.match(pattern)) {
                                    if (test === `${password}`) {
                                        $('.invalid-feedback').css('display', 'none')
                                        $('.valid-feedback').css('display', 'block')
                                        $('#next1').prop('disabled', false)

                                        $("#fieldset1").keyup(function (event) {
                                            if (event.keyCode === 13) {
                                                $("#next1").click();
                                            }
                                        });

                                        $('input[name ="phone"]').val(phoneVal)
                                    } else {
                                        $('.invalid-feedback').css('display', 'block')
                                        $('.valid-feedback').css('display', 'none')
                                        $('#next1').prop('disabled', true)
                                    }
                                } else {
                                    $('#next1').prop('disabled', true)
                                    $('.invalid-feedback').css('display', 'block')
                                    $('.valid-feedback').css('display', 'none')
                                }
                            });
                        }
                    }
                });

                $.notifyDefaults({
                    type: 'warning',
                    allow_dismiss: false,
                    animate: {
                        enter: 'animated fadeInRight',
                        exit: 'animated fadeOutRight'
                    },
                });
                $.notify({
                    icon: 'glyphicon glyphicon-envelope',
                    message: `<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                        '  <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>\n' +
                        '</svg>  +998${phoneVal} raqamga parol yuborildi !`
                });

                $('#label_confirm').fadeIn(800)
                $('#input_confirm').fadeIn(800)
                $('#help_text_code').fadeIn(800)

            } else {
                $('#agree').css('color', 'red')
            }


        })

        $('#next1').on('click', function () {
            $('#fieldset1').hide()
            $('#fieldset2').css('opacity', '1').show()
            $('#input_confirm').prop('disabled', true)
            $('#accept').prop('disabled', true)
            $('#personal').addClass('active')
            $('#next2').parent('.row').css('opacity', '1').show()

        })

        $('#refresh_next2').on('click', function () {
            $('#fieldset2').hide()
            $('#fieldset3').css('opacity', '1').show()
            $('#save_passport_form').css('opacity', '1').show()
            {#$('#input_confirm').prop('disabled', true)#}
            {#$('#personal').addClass('active')#}
            $('#next3').parent('.row').css('opacity', '1').show()

        })

        $('#prev2').on('click', function () {
            $('#fieldset2').hide()
            $('#fieldset1').css('opacity', '1').show()

        })

        $('#prev3').on('click', function () {
            $('#fieldset3').hide()
            $('#fieldset2').show()
        })

        $('#region').on('change', function () {
            var selectedRegion = $(this).children("option:selected").val();
            if (parseInt(selectedRegion)) {
                $(this).valid()

            }
        })

        $('#district').on('change', function () {
            var selectedDistrict = $(this).children("option:selected").val();
            if (parseInt(selectedDistrict)) {
                $(this).valid()

            }
        })

        $('#quarter').on('change', function () {
            var selectedQuarter = $(this).children("option:selected").val();
            if (parseInt(selectedQuarter)) {
                $(this).valid()

            }
        })

        jQuery.validator.addMethod("noSpace", function (value, element) {
            return value == '' || value.trim().length != 0;
        }, "Iltimos, bo'sh joy qoldirmang!");
        jQuery.validator.addMethod("customEmail", function (value, element) {
            return this.optional(element) || /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(value);
        }, "Iltimos, to'g'ri elektron pochta manzilini kiriting!");
        $.validator.addMethod("alphanumeric", function (value, element) {
            return this.optional(element) || /^\w+$/i.test(value);
        }, "Faqat harf va raqam kiriting!");

        var $registrationForm = $('#save_user_form');
        if ($registrationForm.length) {
            $registrationForm.validate({
                ignore: ":hidden",
                rules: {
                    //username is the name of the textbox
                    last_name: {
                        required: true,
                        //alphanumeric is the custom method, we defined in the above
                        noSpace: true,
                    },
                    first_name: {
                        required: true,
                        noSpace: true,
                    },
                    middle_name: {
                        required: true,
                        noSpace: true,
                    },
                    region: {
                        required: true
                    },
                    district: {
                        required: true
                    },
                    quarter: {
                        required: true
                    },
                    address: {
                        required: true,
                        noSpace: true,
                    },

                },
                messages: {
                    last_name: {
                        required: 'Familiya kiritilmagan!',
                    },
                    first_name: {
                        required: 'Ism kiritilmagan!',
                    },
                    middle_name: {
                        required: 'Otasining ismi kiritilmagan!',
                    },
                    region: {
                        required: 'Viloyat tanlanmagan!',
                    },
                    district: {
                        required: 'Tuman tanlanmagan!',
                    },
                    quarter: {
                        required: 'MFY tanlanmagan!',
                    },
                    address: {
                        required: 'Yashash joyi kiritilmagan!',
                    },


                },
                errorPlacement: function (error, element) {
                    if (element.is("#region")) {
                        error.appendTo(element.parents('.region'));
                    } else if (element.is("#district")) {
                        error.appendTo(element.parents('.district'));
                    } else if (element.is("#quarter")) {
                        error.appendTo(element.parents('.quarter'));
                    } else {
                        error.insertAfter(element);
                    }

                },

                submitHandler: function (form) {
                    var token = getCookie('token'),
                        csrftoken = getCookie('csrftoken')

                    $.ajaxSetup({
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRFToken', csrftoken)
                            xhr.setRequestHeader('Authorization', `Token ${token}`)
                        },
                    })

                    $.ajax({
                        type: "POST",
                        url: "{% url 'user:save_user_information' %}",
                        data: $(form).serialize(),
                        success: function (response) {
                            if (typeof response === 'object') {
                                $('#next2').remove()
                                $('#refresh_next2').css('display', 'block')
                                $('#fieldset2').hide()
                                $('#fieldset3').show()
                                $('#payment').addClass('active')
                                $('input[name ="user_id"]').val(response.user)

                                $('#last_name').attr('disabled', true)
                                $('#first_name').attr('disabled', true)
                                $('#middle_name').attr('disabled', true)
                                $('#birthday').attr('disabled', true)
                                $('#region').attr('disabled', true)
                                $('#district').attr('disabled', true)
                                $('#quarter').attr('disabled', true)
                                $('#address').attr('disabled', true)

                                $("#fieldset2").keyup(function (event) {
                                    if (event.keyCode === 13) {
                                        $("#next2").click();
                                    }
                                });
                            } else {

                                console.log(response.status)
                            }
                        },
                        error: function (response) {
                            if (response.status === 401) {

                                $.notifyDefaults({
                                    type: 'danger',
                                    allow_dismiss: false,
                                    animate: {
                                        enter: 'animated fadeInRight',
                                        exit: 'animated fadeOutRight'
                                    },
                                    z_index: '9999'
                                })
                                $.notify({
                                    icon: 'glyphicon glyphicon-star',
                                    message: '<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                                        '  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>\n' +
                                        '  <path fill-rule="evenodd" d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>\n' +
                                        '</svg> Xatolik yuz berdi! Token yaroqsiz!'
                                })
                                setTimeout(function () {
                                    window.location.href = '{% url "user:custom_logout" %}'
                                }, 3000);
                            } else {

                                errorFunction()

                            }
                        }
                    });
                    return false; // required to block normal submit since you used ajax
                }
            });
        }

        jQuery.validator.addMethod("personIdMaxLength", function (value, element) {
            return this.optional(element) || /^\d{14}$/.test(value);
        }, "JShShIR 14 raqamdan iborat bo'lishi kerak!");

        var $PassportRegistrationForm = $('#save_passport_form');
        if ($PassportRegistrationForm.length) {
            $PassportRegistrationForm.validate({
                ignore: ":hidden",
                rules: {
                    //username is the name of the textbox
                    passport_seriya: {
                        required: true,
                        //alphanumeric is the custom method, we defined in the above
                        alphanumeric: true,
                        noSpace: true,
                    },
                    passport_number: {
                        required: true,
                        alphanumeric: true,
                        noSpace: true,
                    },
                    issue_by_whom: {
                        required: true,
                        noSpace: true,
                    },
                    person_id: {
                        required: true,
                        personIdMaxLength: true
                    },


                },
                messages: {
                    passport_seriya: {
                        required: 'Passport seriya kiritilmagan!',
                    },
                    passport_number: {
                        required: 'Passpor raqami kiritilmagan!',

                    },
                    issue_by_whom: {
                        required: 'Passport kim tomonidan berilganligi kiritilmagan!',
                    },
                    person_id: {
                        required: 'JShShIR raqami kiritilmagan!',
                    },
                },
                errorPlacement: function (error, element) {
                    if (element.is("#person_id")) {
                        error.appendTo(element.siblings('p'));
                    } else {
                        error.insertAfter(element);
                    }

                },

                submitHandler: function (form) {
                    $('#next3').attr('disabled', true)
                    $('#next3').html('Tizimga kirish&nbsp<i class="fas fa-spinner fa-spin"></i>')

                    $("#fieldset3").keyup(function (event) {
                        if (event.keyCode === 13) {
                            $("#next3").click();
                        }
                    });

                    var token = getCookie('token'),
                        csrftoken = getCookie('csrftoken')

                    $.ajaxSetup({
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRFToken', csrftoken)
                            xhr.setRequestHeader('Authorization', `Token ${token}`)
                        },
                    })

                    $.ajax({
                        type: "POST",
                        url: "{% url 'user:save_passport_data' %}",
                        data: $(form).serialize(),
                        success: function (response) {
                            if (response === 'True') {

                                setTimeout(function () {
                                    window.location.href = '{% url "service:applications_list" %}'
                                }, 700)

                            } else {
                                console.log(response.status)
                            }
                        },
                        error: function (response) {
                            if (response.status === 401) {
                                $.notifyDefaults({
                                    type: 'danger',
                                    allow_dismiss: false,
                                    animate: {
                                        enter: 'animated fadeInRight',
                                        exit: 'animated fadeOutRight'
                                    },
                                    z_index: '9999'
                                })
                                $.notify({
                                    icon: 'glyphicon glyphicon-star',
                                    message: '<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                                        '  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>\n' +
                                        '  <path fill-rule="evenodd" d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>\n' +
                                        '</svg> Xatolik yuz berdi! Token yaroqsiz!'
                                })
                                setTimeout(function () {
                                    window.location.href = '{% url "user:custom_logout" %}'
                                }, 3000);
                            } else {
                                errorFunction()
                                $('#next3').attr('disabled', false)
                                $('#next3').html('Tizimga kirish')
                            }
                        }
                    });
                    return false; // required to block normal submit since you used ajax
                }
            });
        }

    })

</script>
    <script src="{% static 'js/jquery.checknet-1.6.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $.fn.checknet();
        });
    </script>
</body>
</html>