
{% if messages %}
    {% for message in messages %}
        {% if forloop.last %}
            <div class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %}">
                <a class="close" href="" data-dismiss="alert">×</a>
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
