{% extends 'base.html' %}
{% block top %}
    <meta http-equiv="refresh" content="5; URL={% url  'service:applications_list'  %}"/>
{% endblock top %}
{% block content %}
    <h1 class="text-capitalize text-center text-success">Tabriklaymiz!</h1>
    <h2 class="text-center ">Sizning ma'lumotlaringiz muvaffaqiyatli jo'natildi. Tez orada YHXB RIB xodimlari tomonidan
        sizga javob SMS xabarnomasi yetkaziladi.</h2>
    <h3 class="text-center ">5 soniyadan so'ng arizangiz xronologiyasini ko'rishingiz mumkin</h3>
    <center>
        <div class="spinner-border" style="width: 5rem; height: 5rem; margin: 0 auto;" role="status">
            <span class="sr-only">Iltimos kuting...</span>
        </div>
    </center>
{% endblock content %}