{% extends 'base_horizontal.html' %}

{% block top %}
    <style>
        .service_list:hover {
            -webkit-box-shadow: 0px 4px 15px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 0px 4px 15px 0px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 4px 15px 0px rgba(34, 60, 80, 0.2);
            transition: 0.5s;
            cursor: pointer;
        }

        .main-header {
            border-bottom: 1px solid #5f5f5f;
            padding: 5px;
            margin: 10px;
        }

        .content-page {
            padding-top: 5px !important;
        }

    </style>
{% endblock top %}
{% load static %}
{% block content %}
    {#<a href="{% url 'service:applications_list' %}">app</a>#}
    <div class="row">

        <div class="col-12 d-flex justify-content-center main-header">
            <div class="header text-center">
                <img src="{% static 'img/iiv.png' %}" alt="" width="100" height="100" class="m-2">
                <img src="{% static 'img/yhxb.png' %}" alt="" width="100" height="100" class="m-2">
                <h3>IIV  YXHB xizmatlari onlayn portaliga xush kelibsiz. Ortiqcha vaqt sarflamagan holda, IIV YHXB
                    xizmati xizmatlaridan foydalanishni boshlang.</h3>
                <p class="mt-3 mb-3">
                    <a href="{% url 'user:login_first' %}" class="btn btn-secondary waves-effect waves-light">
                        Kirish & A'zo bo'lish<span class="btn-label-right"><i class="mdi mdi-login"></i></span>
                    </a>

                </p>
            </div>
        </div>

    </div>
    <div class="row">

        {% for service in services %}
            <div class="col-lg-4">
                <a href="{% url 'service:service_info' service.id %}">
                    <div class="card bg-pattern service_list">
                        <div class="card-body">
                            <div class="text-center">
                                <img src="{{ service.image }}"
                                     alt="logo" class="avatar-xl mb-3">
                                <h4 class="mb-2  text-blue font-28">{{ service.title }}</h4>

                            </div>

                            <p class="font-14 text-center text-muted">
                                {{ service.desc|truncatechars:90 }}
                            </p>

                            <div class="text-center">
                                <a href="{% url 'service:service_info' service.id %}" class="btn btn-blue">Xizmatdan
                                    foydalanish</a>
                            </div>


                        </div>
                    </div> <!-- end card -->
                </a>
            </div>
        {% endfor %}


    </div>

{% endblock content %}

