{% extends 'base_horizontal.html' %}
{% block top %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

        .info_area {
        {#border: 1px solid #696969;#} background: #fff;
            border-radius: 15px;
            margin-top: 8px;
            padding-top: 10px;
            margin-bottom: 30px;
        }

        .title_service {
            font-family: Arial, Baskerville, monospace;
            color: #0D3349 !important;
        }

        .use_service {
            border: 1px solid black;
            background: #6c757d;
            border-radius: 0 19px 19px 0;

        }

        .use_service_text {
            font-size: 1.1rem;
            color: #fff;
            font-family: Arial, Baskerville, monospace;
            text-align: center;
            font-weight: bold;
        }

        .use_service_icon {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            color: #fff;
        }

        .link_service_use {
            display: block;
            border: 1px solid black;
            background: #6c757d;
        {#border-radius: 0 19px 19px 0;#} text-align: center;
            color: #fff;
            font-size: 1.2rem;
            padding: 10px;
            margin-bottom: 19px;
        }

        .link_service_use:hover {
            color: #fff;
        }
    </style>
{% endblock top %}
{#{% block page_title %}#}
{#    {{ service.title }}#}
{#{% endblock page_title %}#}

{% block content %}
    <div class="row">
        <div class="col-12 info_area">
            <h2 class="text-center m-1 text-blue title_service">{{ service.title }}</h2>
            <p class="text-justify font-15">{{ service.desc }}</p>
            {% for link in service.step_by_step_with_service.all %}
            <a href="{% url 'service:step_by_step' pk=link.pk %}" class="link_service_use  ">Boshlash</a>
         {% endfor %}
            {% for  service_info in service.service_info.all %}


                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                Bu qanday xizmat?
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                             aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                {{ service_info.how_it_works }}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                Xizmat ko'rsatilishi muddati
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                {{ service_info.deadline }} kun ichida
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseThree">
                                Kerakli xujjatlar
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <ul>

                                    {% for document in service_info.document.all %}
                                        <li>{{ document.title }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>


{% endblock content %}