{% extends 'base.html' %}
{% load static %}
{% block top %}
    <link href="{% static 'assets/libs/mohithg-switchery/switchery.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/multiselect/css/multi-select.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/selectize/css/selectize.bootstrap3.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet"
          type="text/css"/>
    {% include 'rib/services/part/step_by_step/css.html' %}
{% endblock top %}

{% block content %}
    <div class="row">
        <div class="col-12 info_area">
            <h2 class="text-center m-1 text-blue title_service">{{ service.title }}</h2>
            <p class="text-justify font-15">{{ service.desc }}</p>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="header-title font-22  text-center text-capitalize mb-3">{{ stepbystep.service.title }}</h2>
                            <form action="{% url 'service:save_data' %}" method="POST">
                                {% csrf_token %}


                                <input type="hidden" name="service" value="{{ object.service.pk }}">
                                <div id="progressbarwizard">
                                    <div id="bar" class="progress mb-3" style="height: 15px !important;">
                                        <div class="bar progress-bar progress-bar-striped progress-bar-animated bg-primary"></div>
                                    </div>
                                    <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-3">
                                        {% for step in stepbystep.step_with_step_by_step.all %}
                                            <li class="nav-item">
                                                <a href="#account-{{ forloop.counter }}" data-bs-toggle="tab"
                                                   data-toggle="tab"
                                                   class="nav-link rounded-0 pt-2 pb-2">
                                                    <i class="mdi {{ step.icon }} me-1"></i>
                                                    <span class="d-none d-sm-inline">{{ step.title }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="tab-content b-0 mb-0 pt-0">

                                        {% for step in stepbystep.step_with_step_by_step.all %}

                                            {% include 'rib/services/part/step_by_step/accordion_step.html' %}

                                        {% endfor %}

                                        <ul class="list-inline mb-0 wizard">
                                            <li class="previous list-inline-item">
                                                <a href="javascript: void(0);" class="btn btn-secondary">Oldingi</a>
                                            </li>

                                            <li class="next list-inline-item"
                                                {% if forloop.last %}style="display:none" {% endif %}>
                                                <a href="javascript: void(0);" class="btn btn-secondary"
                                                   id="next_button">Keyingi</a>
                                            </li>


                                            <li class="list-inline-item float-end " style="mmargin-left: 15px;">
                                                <button type="submit" class="btn btn-success">Kiritish</button>
                                            </li>
                                            <li class="list-inline-item float-end">
                                                <button type="reset" class="btn btn-danger">Tozalash</button>
                                            </li>
                                        </ul>
                                    </div> <!-- tab-content -->
                                </div> <!-- end #progressbarwizard-->
                            </form>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
        </div>
    </div>
{% endblock content %}

{% block bottom %}
    <script src="{% static 'assets/libs/selectize/js/standalone/selectize.min.js' %}"></script>
    <script src="{% static 'assets/libs/mohithg-switchery/switchery.min.js' %}"></script>
    <script src="{% static 'assets/libs/multiselect/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'assets/libs/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/libs/jquery-mockjax/jquery.mockjax.min.js' %}"></script>
    <script src="{% static 'assets/libs/devbridge-autocomplete/jquery.autocomplete.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>
    <script src="{% static 'assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/form-wizard.init.js' %}"></script>
    <!-- Init js-->
    <script src="{% static 'assets/js/pages/form-advanced.init.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#organization_div").hide()
            $("select#person_type").change(function () {
                var person_type = $(this).children("option:selected").val();
                if (person_type == 1) {
                    $("#organization_div").fadeIn()
                } else {
                    $("#organization_div").fadeOut()
                }


            });

            {% for field in stepbystep.service.service_input_field.all %}
                {{ field.js_code|safe }}
            {% endfor %}


        });

    </script>

{% endblock %}