<div class="tab-pane" id="account-{{ forloop.counter }}">

    <div class="row">
        <div class="col-12">
            {% for step_element in step.step_elements.all %}

                {% if step_element.type_element == USER_TYPE %}
                    {% include 'rib/services/part/step_by_step/person_type.html' %}
                {% elif step_element.type_element == FORM %}

                    {% for field in step_element.step.input_fields.all %}

                        <div class="row mb-3">
                            <label class="col-md-3 col-form-label"
                                   for="{{ field.field_name }}">{{ field.title }}</label>
                            <div class="col-md-9">
                                {% include 'rib/services/part/step_by_step/part/form_field_type.html' %}
                            </div>
                        </div>


                    {% endfor %}

                {% elif step_element.type_element == PAYMENT_STATE_DUTY %}
                    asdadasd

                {% elif step_element.type_element == PAYMENT_STATE_DUTY %}
                    ariza uchun 12500 so'm
                {% endif %}

            {% endfor %}

        </div> <!-- end col -->
    </div> <!-- end row -->
</div>