<div class="row mb-3">
    <label class="col-md-3 col-form-label"
           for="person_type">
        Shaxsni tanlang</label>
    <div class="col-md-9">

        <select name="person_type" id="person_type"
                class="form-control">
            <option value="0">Jismoniy Shaxs</option>
            <option value="1">Yuridik shaxs</option>
        </select>

    </div>
</div>


<div class="row mb-3 " id="organization_div">
    <label class="col-md-3 col-form-label"
           for="person_type">
        Tashkilotni tanlang</label>
    <div class="col-md-9">
    {% if request.user.organization_director.all %}
        <select name="organization" id="organization"
                class="form-control">
            {% for organization in request.user.organization_director.all %}
                <option value="{{ organization.pk }}">{{ organization.title }}</option>

            {% endfor %}
        </select>
        {% else %}
        <p>Siz tashkilotlarni ro'yhatga olmagansiz. Iltimos ro'yhatga oling: <a href="#" class="link-primary text-decoration-underline">Tashkilotni qo'shish</a></p>
    {% endif %}
    </div>
</div>