/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    /*background: -webkit-linear-gradient(left, #3931af, #00c6ff);*/
    background-image: url("/static/img/login/17973908.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background: rgba(255, 255, 255, 0.8); !important;
    opacity: 1;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: #000000;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 40px;
    background-color: #00c6ff;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 4px 0 dodgerblue !important;

}

.remember {
    color: #000000;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: #000000;
    font-size: 0.8em;
}

.links a {
    margin-left: 4px;
}

.custom_icon {
    color: #646464;
}

.custom_icon:active {
    color: #646464 !important;
}

.divWithIcon {
    color: white;
    position: relative;


}

.divWithIcon input[type='password'] {

}


.icon-pwd {
    right: 0;
    padding: 11px 10px 8px 8px;
    color: #aaa;
    position: absolute;
    cursor: pointer;


}

.divWithIcon input[type='password']:focus, .icon-pwd{

}

/*.divWithIcon input[type='password']::-moz-placeholder {*/
/*  color: #0082D4;*/
/*}*/

/*.divWithIcon input[type='password']::-webkit-input-placeholder {*/
/*  color: #0082D4;*/
/*}*/

/*.divWithIcon input[type='password']:focus::-moz-placeholder  {*/
/*  color: #8B9DA7;*/
/*  border-color: #0082D4;*/
/*}*/

/*.divWithIcon input[type='password']:focus::-webkit-input-placeholder {*/
/*  color: #8B9DA7;*/
/*  border-color: #0082D4;*/
/*}*/


.social_icon a span i {
    opacity: 0.8;
    width: 30px !important;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.social_icon a span {
    font-size: 3rem;


}

