{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <title>E-RIB.UZ | IIV YHXB xizmatlaridan foydalanish uchun onlayn ariza topshirish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="{% trans "IIV YXHB xizmatlaridan  onlayn foydalanish uchun ariza topshirish" %}" name="description"/>
    <meta content="SIERUS GROUP" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

{#    <!-- plugin css -->#}
{#    <link href="{% static 'assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}"#}
{#          rel="stylesheet" type="text/css"/>#}

    <!-- App css -->
    <link href="{% static 'assets/css/config/modern/bootstrap.min.css' %}" rel="stylesheet" type="text/css"
          id="bs-default-stylesheet"/>
    <link href="{% static 'assets/css/config/modern/app.min.css' %}" rel="stylesheet" type="text/css"
          id="app-default-stylesheet"/>

    <link href="{% static 'assets/css/config/modern/bootstrap-dark.min.css' %}" rel="stylesheet" type="text/css"
          id="bs-dark-stylesheet"/>
    <link href="{% static 'assets/css/config/modern/app-dark.min.css' %}" rel="stylesheet" type="text/css"
          id="app-dark-stylesheet"/>

    <!-- icons -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css"/>
    {% block top %}

    {% endblock top %}

</head>

<body class="loading" data-layout-mode="horizontal"
      data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    {% include '_parts/header-navbar.html' %}
    <!-- end Topbar -->


    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">


                {% block content %}

                {% endblock %}

            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <script>document.write(new Date().getFullYear())</script> &copy;  {% trans "<b>Buxoro viloyati IIB YHXB</b> hamda <b>SIERUS GROUP</b> hamkorligida yaratildi" %}
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end footer-links d-none d-sm-block">
                            <a href="javascript:void(0);">{% trans "Qayta aloqa" %}</a>
                            <a href="javascript:void(0);">{% trans "Yordam xizmati" %}</a>
                            <a href="javascript:void(0);">Bu qanday tizim</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->

<!-- Right Sidebar -->

<!-- /Right-bar -->


<!-- Vendor js -->
<script src="{% static 'assets/js/vendor.min.js' %}"></script>

<!-- Plugins js-->


<!-- Dashboard 2 init -->
<script src="{% static 'assets/js/pages/dashboard-2.init.js' %}"></script>

<!-- App js -->
<script src="{% static 'assets/js/app.min.js' %}"></script>

</body>
</html>