{% extends 'base.html' %}
{% load mathfilters %}
{% load service_tags %}
{% load i18n %}
{% block top %}
    <style>
        .wrp {
            background: #fff;
        }
    </style>
{% endblock top %}
{% block content %}
    <div class="row wrp p-2 mb-1">
        <h2 class="text-center">{% trans "Ariza raqami: " %}#{{ application.pk }} | Xizmat
            turi: {{ application.service.title }}</h2>


        <div class="row">
            <div class="col-xl-12">
                {% for step in steps %}
                    {{ step.step }}
                    <div id="accordion" class="mb-3">
                    <div class="card mb-1">
                        <a class="text-dark" data-bs-toggle="collapse" href="#collapse{{ step.pk }}"
                           aria-expanded="true">
                            <div class="card-header" id="headingOne">
                                <h5 class="m-0">


                                    <h3><i class="mdi {{ step.icon }} me-1 text-secondary"></i>{{ step.title }}</h3>

                                </h5>
                            </div>
                        </a>

                        <div id="collapse{{ step.pk }}" class="collapse show" aria-labelledby="headingOne"
                             data-bs-parent="#accordion">
                            <div class="card-body">
                                {{ step }}
                            </div>
                        </div>

                    </div>

                {% endfor %}
                <div class="card mb-1">
                    <a class="text-dark" data-bs-toggle="collapse" href="#collapseDuty"
                       aria-expanded="true">
                        <div class="card-header" id="headingOne">
                            <h5 class="m-0">
                                <h3><i class="mdi {{ step.icon }} me-1 text-secondary"></i>Davlat boji</h3>
                            </h5>
                        </div>
                    </a>
                    <div id="collapseDuty" class="collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordion">
                        <div class="card-body">
                            <table class="table table-striped table-responsive">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Davlat boji</th>
                                    <th>Foizi</th>
                                    <th>Summasi</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for state_duty in  application.service.state_duty_with_service.all %}
                                    <tr>
                                        {% for percent in state_duty.state_duty_percent_with_state_duty.all %}

                                            {% if percent.state_duty.key  == 'road_fund' %}
                                                {% if percent.made_year_start <= age and   percent.made_year_stop >= age %}
                                                    <td>#</td>
                                                    <td>{{ percent.state_duty }}</td>
                                                    <td>{{ percent.percent }} %</td>
                                                    <td>{% get_state_duty_sum  MINIMUM_BASE_WAGE percent.percent%}</td>
                                                {% endif %}
                                            {% else %}
                                                <td>#</td>
                                                <td>{{ percent.state_duty }}</td>
                                                <td>{{ percent.percent }} %</td>

                                                <td id="">{% get_state_duty_sum  MINIMUM_BASE_WAGE percent.percent %}

                                                {{ sum }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                </div> <!-- end col -->


            </div> <!-- end row -->

        </div>
{% endblock content %}