

{% if field.field_type == TEXT %}

    <input type="text" id="{{ field.field_name }}"
           name="{{ field.field_name }}" class="form-control" {% if field.is_required %}required="required"{% endif %} placeholder="{{ field.placeholder }}">
    {% elif field.field_type == NUMBER %}

    <input type="number" id="{{ field.field_name }}"
           name="{{ field.field_name }}" class="form-control" {% if field.is_required %}required="required"{% endif %}  placeholder="{{ field.placeholder }}">
{% elif field.field_type == SELECT %}
    <select name="{{ field.field_name }}" id="{{ field.field_name }}"
            class="form-control select2" data-toggle="select2" data-width="100%" {% if field.is_required %}required="required"{% endif %}>
        {% for option in field.select.service_select_items.all %}
            <option value="{{ option.id }}">{{ option.value }}</option>
        {% endfor %}
    </select>
    Siz izlagan ma'lumot ro'yhatda bo'lmasa, unda <a href="" data->Qo'shing</a>
{% elif  field.field_type ==  MANY_SELECT %}
    <div class="col-lg-12">
        <div class="mb-3">
            <select id="selectize-maximum" name="{{ field.field_name }}"
                    {% if field.is_required %}required="required"{% endif %}>
                <option value="">Yoqilg'i turini tanlang</option>
                {% for option in field.select.service_select_items.all %}
                    <option value="{{ option.id }}">{{ option.value }}</option>
                {% endfor %}
            </select>
            <div class="clearfix"></div>
        </div>
    </div>
    <input type="hidden" value="ssssss">

{% elif field.field_type == CHECKBOX %}
    <input type="checkbox" id="{{ field.field_name }}"
           name="{{ field.field_name }}" {% if field.is_required %}required="required"{% endif %}>
    &nbsp; &nbsp; <label for="{{ field.field_name }}">{{ field.title }}</label>
{% elif field.field_type == DATE %}
<input type="date" id="{{ field.field_name }}" class="form-control"
           name="{{ field.field_name }}" {% if field.is_required %}required="required"{% endif %}>

{% else %}



{% endif %}


